<div class="container" id="Home">
  <div class="row justify-content-between">
    <div class="logo col-2 col-sm-3 col-md-8 col-lg-9 ">
      <a target="_blank" href="https://argentinaprograma.inti.gob.ar/">
        <img
        
          id="logo"
          src="../../../../assets/APLogo.png"
          alt="Argentina Programa Logo"
        />
      </a>
    </div>

    <div class="social col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" >
      <a href="https://www.instagram.com/luuca.p_" target="_blank"
        ><img src="../../../assets/instagram.png" alt="Instagram"
      /></a>
      <a href="https://twitter.com/Luca_Povolo" target="_blank"
        ><img src="../../../assets/twitter.png" alt="Twitter"
      /></a>
      <a href="https://github.com/Ozhammar" target="_blank"
        ><img src="../../../assets/github.png" alt="Git"
      /></a>
      <a href="https://www.facebook.com/Luqaz" target="_blank"
        ><img src="../../../assets/facebook.png" alt="Facebook"
      /></a>
      <button type="button" class="btn btn-outline-light" (click)="login()">Login</button>
    </div>
  </div>
</div>
