<div class="container" id="Home">
  <div class="row justify-content-between">
    <div class="logo col-2 col-sm-3 col-md-7 col-lg-8 ">
      <a target="_blank" href="https://argentinaprograma.inti.gob.ar/">
        <img
        
          id="logo"
          src="https://res.cloudinary.com/lpovolocloud/image/upload/v1660782788/APLogo_xnwfyk.png"
          alt="Argentina Programa Logo"
        />
      </a>
    </div>

    <div class="social col-6 col-sm-7 col-md-5 col-lg-4 col-xl-3" >
      <a href="https://www.instagram.com/luuca.p_" target="_blank"
        ><img src="https://res.cloudinary.com/lpovolocloud/image/upload/v1660782789/instagram_uvn9xd.png" alt="Instagram"
      /></a>
      <a href="https://twitter.com/Luca_Povolo" target="_blank"
        ><img src="https://res.cloudinary.com/lpovolocloud/image/upload/v1660782790/twitter_l9eoys.png" alt="Twitter"
      /></a>
      <a href="https://github.com/Ozhammar" target="_blank"
        ><img src="https://res.cloudinary.com/lpovolocloud/image/upload/v1660782789/github_wize0v.png" alt="Git"
      /></a>
      <a href="https://www.facebook.com/Luqaz" target="_blank"
        ><img src="https://res.cloudinary.com/lpovolocloud/image/upload/v1660782789/facebook_ocwyjj.png" alt="Facebook"
      /></a>
      <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
      <button type="button" class="btn btn-outline-light" (click)="onLogut()" *ngIf="isLogged">Cerrar Sesion</button>
    </div>
  </div>
</div>
