<div class="container" id="About">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
      <img
        src="{{persona.img}}"
        class="img-thumbnail"
        alt="Foto de Perfil"
      />
      <div class="nombre">
        <h3>{{ persona.nombre }} {{ persona.apellido }}</h3>
        <h5>{{ persona.titulo }}</h5>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <div class="descripcion">
        <p>{{ persona.descripcion }}</p>
  
      </div>
      <div *ngIf="isAdmin, isLogged">
        <button class="btn btn-dark" routerLink="/editpersona/{{ persona.id }}">
        <i class="bi bi-pencil-fill"></i> EDITAR
      </button>
        
      </div>
    </div>
  </div>
</div>
