<div class="container-fluid" id="Educación">
    <h1 class="text-center">Formacion Academica</h1>
  <div class="row">

    <div class="col-3 text-center">
      <a href="http://colegioeccleston.org.ar/" target="_blank"
        ><img class="img-fluid" src="../../../assets/logoEccleston.png" alt="Colegio Eccleston"
      /></a>
    </div>

    <div class="col-9"></div>
  </div>

  <div class="row">
    <div class="col-3 text-center">
      <a href="https://aexalevi.org.ar/" target="_blank"
        ><img src="../../../assets/logoIngles.png" alt="Asociacion de Lenguas Vivas"
      /></a>
    </div>

    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col-3 text-center">
      <a href="https://www.universidad-policial.edu.ar/" target="_blank"
        ><img src="../../../assets/logoIUPFA.png" alt="Instituto Universitario de la Policia Federal Argentina"
      /></a>
    </div>

    <div class="col-3 text-center"></div>
  </div>

  <div class="row">

    <div class="col-3 text-center">
      <a href=" https://mumuki.io/" target="_blank"
        ><img src="../../../assets/logoMumuki.png" alt="Mumuki Logo"
      /></a>
    </div>

    <div class="col"></div>
  </div>


</div>
