<div class="container" id="Experiencia" >
  
<div id="sectiontitle"><h1 class="text-center">Experiencia Laboral</h1></div>

  

  <div class="row align-items-center" id="experiencia">
    <div>
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevaexp"
        *ngIf="isAdmin, isLogged"
      >
        NUEVA EXPERIENCIA
      </button>
    </div>
  

  <div class="row align-items-center" *ngFor="let Experiencia of expe">
    <div class="col-12 col-sm-3 col-md-4 col-lg-2 col-xl-2 text-center">
    <img class="" src="{{Experiencia.imgExp}}" />
     
    </div>
    <div class="col-12 col-sm-9 col-md-8 col-lg-10 col-xl-10" >
      <ul>
        <h3 >{{ Experiencia.nombreExp }}</h3>
        <li>Fecha de ingreso: {{ Experiencia.inicioExp}}.</li>
        <li>Fecha de finalizacion: {{ Experiencia.finExp}}.</li>
        <li>Puesto: {{Experiencia.cargoExp}}. </li>
        <li> Experiencia: {{Experiencia.descripcionExp}}.</li>
      </ul>
    </div>
    <div *ngIf="isAdmin, isLogged">
      <button class="btn btn-dark" routerLink="/editexp/{{ Experiencia.id }}">
      <i class="bi bi-pencil-fill"></i> EDITAR
    </button>
      <button class="btn btn-danger" (click)="delete(Experiencia.id)">
        <i class="bi bi-trash-fill"></i> BORRAR
      </button>
    </div>
  </div>
</div>
