<div class="container-fluid" id="Experiencia">

    <h1 class="text-center">EXPERIENCIA LABORAL</h1>

    <div class="row align-items-center">

      <div class="col-12 col-sm-3 col-md-4 col-lg-2 col-xl-2 text-center">
        <img class="img-fluid" id="PFA"
        src="../../../assets/logoPFA.png"
        alt="Escudo Policia Federal Argentina"
      />
      </div>

      <div class="col-12 col-sm-9 col-md-8 col-lg-10 col-xl-10" id="experiencia">
      <ul>
        <h3>Policia Federal Argentina</h3>
        <li>Fecha de ingreso: 13 de Mayo del 2013.</li>
        <li>Cargo: Auxiliar Tecnico.</li>
        <li>Experiencia: dentro de las funciones como personal de una fuerza de seguridad desarrolle tareas de control poblacional, como asi tambien cotejo de informacion de ciudadanos con antecedentes penales entre las bases de datos de esta Institucion y el RENAPER.</li>
        <li>Funcion actual: desarrollo mi actividad diaria en la Superintendencia de Administracion, area contable de este organismo, como encargado de la correcta erogación y buen uso de los servicios publicos utilizados por el personal que cumple sus funciones en el interior del país.</li>
      </ul>
        
      </div>


    </div>

    

  </div>