<div class="container col-6" >
  <div class="row" id="edit-new-forms">
      <div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreEdu">Nombre de la Institución</label>
            <input
              type="text"
              class="form-control"
              id="nombreEdu"
              name="nombreEdu"
              placeholder="Nombre del establecimiento"
              [(ngModel)]="nombreEdu"
              required
            />
          </div>
          <div class="form-group">
            <label for="urlEdu">Webpage de la Institución</label>
            <input
              type="text"
              class="form-control"
              id="urlEdu"
              name="urlEdu"
              placeholder="Link a la Webpage"
              [(ngModel)]="urlEdu"
              required
            />
          </div>
          <div class="form-group">
            <label for="descripcionEdu">Descripción de la Institución</label>
            <input
              type="text"
              class="form-control"
              id="descripcionEdu"
              name="descripcionEdu"
              placeholder="Información sobre la Institución"
              [(ngModel)]="descripcionEdu"
              required
            />
          <div class="form-group">
            <label for="inicioEdu">Fecha de inicio de los estudios</label>
            <input
              type="date"
              class="form-control"
              id="inicioEdu"
              name="inicioEdu"
              placeholder="FECHA DE INCIO"
              [(ngModel)]="inicioEdu"
              required
            />
          </div>
          <div class="form-group">
            <label for="finEdu">Fecha de finalización de los estudios</label>
            <input
              type="date"
              class="form-control"
              id="finEdu"
              name="finEdu"
              placeholder="FECHA DE FINALIZACION"
              [(ngModel)]="finEdu"
              required
            />
          </div>
          <div class="form-group">
            <label for="tituloEdu">Título obtenido</label>
            <input
              type="text"
              class="form-control"
              id="tituloEdu"
              name="tituloEdu"
              placeholder="Título o certificación obtenida"
              [(ngModel)]="tituloEdu"
              required
            />
          </div>
          
            <label for="imgEdu">Emblema Institucional</label>
            <input
              type="text"
              class="form-control"
              id="imgEdu"
              name="imgEdu"
              placeholder="INSERTAR LINK DE LA IMAGEN"
              [(ngModel)]="imgEdu"
              required
              
            />
          </div>
          <button class="btn btn-dark">AGREGAR</button>
          <button class="btn btn-danger" (click)="stepBack()">REGRESAR</button>
        </form>
      </div>
    </div>
  </div>