<div class="container">
    <div class="row">
      <div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreEdu">NOMBRE DE LA INSTITUCION</label>
            <input
              type="text"
              class="form-control"
              id="nombreEdu"
              name="nombreEdu"
              placeholder="NOMBRE DE LA EMPRESA O INSTITUCION"
              [(ngModel)]="nombreEdu"
              required
            />
          </div>
          <div class="form-group">
            <label for="descripcionEdu">DESCRIPCION DE LA INSTITUCION</label>
            <input
              type="text"
              class="form-control"
              id="descripcionEdu"
              name="descripcionEdu"
              placeholder="DESCRIPCION DE LA EXPERIENCIA"
              [(ngModel)]="descripcionEdu"
              required
            />
          <div class="form-group">
            <label for="inicioEdu">FECHA DE INICIO </label>
            <input
              type="date"
              class="form-control"
              id="inicioEdu"
              name="inicioEdu"
              placeholder="FECHA DE INCIO"
              [(ngModel)]="inicioEdu"
              required
            />
          </div>
          <div class="form-group">
            <label for="finEdu">FECHA DE FINALIZACION </label>
            <input
              type="date"
              class="form-control"
              id="finEdu"
              name="finEdu"
              placeholder="FECHA DE FINALIZACION"
              [(ngModel)]="finEdu"
              required
            />
          </div>
          <div class="form-group">
            <label for="tituloEdu">TITULO OBTENIDO </label>
            <input
              type="text"
              class="form-control"
              id="tituloEdu"
              name="tituloEdu"
              placeholder="PUESTO O CARGO EJERCIDO"
              [(ngModel)]="tituloEdu"
              required
            />
          </div>
          
            <label for="imgEdu">LOGO INSTITUCIONAL </label>
            <input
              type="text"
              class="form-control"
              id="imgEdu"
              name="imgEdu"
              placeholder="INSERTAR LINK DE LA IMAGEN"
              [(ngModel)]="imgEdu"
              required
              
            />
          </div>
          <button class="btn btn-dark">AGREGAR EXPERIENCIA</button>
          <button class="btn btn-danger" (click)="stepBack()">REGRESAR</button>
        </form>
      </div>
    </div>
  </div>