<div class="container" id="Educación">
  <h1 class="text-center">Formacion Academica</h1>

  <div class="row align-items-center">
    <div class="col-12 col-sm-3 col-md-4 col-lg-2 col-xl-2 text-center">
      <a href="http://colegioeccleston.org.ar/" target="_blank"
        ><img
          class="img-fluid eccleston"
          src="../../../assets/logoEccleston.png"
          alt="Colegio Eccleston"
      /></a>
    </div>

    <div class="col-12 col-sm-9 col-md-8 col-lg-10 col-xl-10">
      <ul>
        <a href="http://colegioeccleston.org.ar/" target="_blank"
          ><h3>Colegio Eccleston</h3></a
        >
        <li>
          Establecimiento ubicado en la ciudad de Temperley, provincia de Buenos
          Aires con un alto prestigio a nivel educativo, dotado de instalaciones
          amplias y de vanguardia, centro polideportivo y en la actualidad
          cuenta con convenios para que sus egresados tengan accesibilidad de
          ingreso en universidades como son la Universidad Catolica Argentina -
          "UCA" y la Universidad Argentina de la Empresa - "UADE".
        </li>
        <ul>
          <li>Fecha de inicio: 01 de Marzo del 2008.</li>
          <li>Fecha de finalización: 01 de Diciembre del 2010.</li>
          <li>
            Titulo Obtenido: Bachiller en Economia y Gestion de las
            Organizaciones.
          </li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-12 col-sm-3 col-md-4 col-lg-2 col-xl-2 text-center">
      <a href="https://aexalevi.org.ar/" target="_blank"
        ><img
          class="img-fluid lenguas"
          src="../../../assets/logoIngles2.png"
          alt="Asociacion de Lenguas Vivas"
      /></a>
    </div>

    <div class="col-12 col-sm-9 col-md-8 col-lg-10 col-xl-10">
      <ul>
        <a href="https://aexalevi.org.ar/" target="_blank">
          <h3>Asociación de Lenguas Vivas</h3>
        </a>

        <li>
          La Asociación Lenguas Vivas fue fundada en 1916 y, desde entonces, ha
          transitado un largo y exitoso camino. Está administrada por una
          Comisión Directiva y dirigida por la Licenciada Diana Ogando
          (Directora General). Las autoridades constituyen un grupo de docentes,
          que día a día busca superar la calidad educativa de la institución.
          Está ubicada en la calle Paraguay 1935 de la Ciudad de Buenos Aires y
          en ella se dictan cursos de Inglés, Francés, Alemán y Portugués.
        </li>
        <ul>
          <li>
            Fecha de inicio: Curso de "Pre Adolecentes Beginners" en el año
            2005.
          </li>
          <li>Fecha de finalización: Curso de "7mo Año" en el año 2012.</li>
          <li>Curso de "Advanced English" en el año 2013.</li>
          <li>Titulo Obtenido: "NIVEL B2" extendido y certificado por la
            Universidad de Oxford. El mismo habilita al dictado de clases
            particulares de la lengua inglesa, como asi tambien la enseñanza en
            escuelas y colegios hasta nivel secundario.
          </li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-12 col-sm-3 col-md-4 col-lg-2 col-xl-2 text-center">
      <a href="https://www.universidad-policial.edu.ar/" target="_blank"
        ><img
        class="img-fluid iupfa"
          src="../../../assets/logoIUPFA.png"
          alt="Instituto Universitario de la Policia Federal Argentina"
      /></a>
    </div>

    <div class="col-12 col-sm-9 col-md-8 col-lg-10 col-xl-10">
      <ul>
        <a href="https://www.universidad-policial.edu.ar/" target="_blank"
          ><h3>Instituto Universitario de la Policia Federal Argentina</h3></a
        >
        <li>
          El Instituto Universitario de la Policía Federal Argentina es una
          institución de educación superior universitaria y se constituye como
          el soporte académico de la totalidad del Sistema de Formación
          Profesional, Especialización y Capacitación de la POLICÍA FEDERAL
          ARGENTINA asegurando su cohesión, articulación, acción y coherencia.
        </li>
        <ul>
          <li>Carrera: Abogacia</li>
          <li>Fecha de inicio: inicio del año lectivo 2015.</li>
          <li>
            Actualmente me encuentro realizando mis estudios sobre asignaciones
            correspondientes al cuarto año del cronograma academico de la
            carrera.
          </li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-12 col-sm-3 col-md-4 col-lg-2 col-xl-2 text-center">
      <a href=" https://mumuki.io/"  target="_blank"
        ><img src="../../../assets/logoMumuki.png" class="img-fluid mumuki" alt="Mumuki Logo"
      /></a>
    </div>

    <div class="col-12 col-sm-9 col-md-8 col-lg-10 col-xl-10">
      <ul>
        <a href=" https://mumuki.io/" target="_blank"> <h3>Mumuki</h3></a>
        <li>
          Un plan nacional impulsado por el Ministerio de Desarrollo Productivo
          de la Nación con el objetivo de potenciar la empleabilidad del sector
          de software. La primera etapa del Plan, llamada “#SéProgramar”.
        </li>
        <ul>
          <li>Fecha de inicio: Octubre del 2021.</li>
          <li>Fecha de finalización: Diciembre del 2021.</li>
          <li>
            Titulo Obtenido:
            <a href="../../../assets/certificadoMumuki.pdf" target="_blank"
              >Certificacion Argentina Programa "#SeProgramar"</a
            >
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
