.progress{
    background-color:grey;
    height:25px;
    
}

.progress-bar{
    background-color: red;

    
}

h3{
    padding-top: 25px;
}

.icono{
    width: 10%;
    height: 10%;
    padding-right: 10px;
}