

.descripcion{
    margin-top: 5%;

}

.descripcion p {
    color: white;
    text-align: justify;
    
}

.img-thumbnail{
    box-shadow: 5px 5px 15px red;
    background-color: black;
    border-color: black;
    margin-bottom: 20px;
}