<div class="container">
  <div class="row">
    <div class="col-3 text-center">
      <img
        src="../../../assets/perfil4.jpg"
        class="img-thumbnail"
        alt="Foto de Perfil"
      />
      <div class="nombre">
        <h3>Lucas Povolo</h3>
        <h5>Full Stack Developer Jr.</h5>
      </div>
    </div>
    <div class="col">
      <div class="descripcion">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
          unde explicabo beatae similique labore, commodi fuga dolor culpa? Vero
          sapiente totam deserunt non nam quae aspernatur facilis accusantium ut
          enim? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Consequatur unde explicabo beatae similique labore, commodi fuga dolor
          culpa? Vero sapiente totam deserunt non nam quae aspernatur facilis
          accusantium ut enim?Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Consequatur unde explicabo beatae similique labore, commodi fuga
          dolor culpa? Vero sapiente totam deserunt non nam quae aspernatur
          facilis accusantium ut enim?
        </p>
      </div>
    </div>
  </div>
</div>
