<div class="container " >
  <h1 class="text-center">Hard & Soft Skills</h1>
  <div class="row text-left" >
    <div>
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevaexp"
        *ngIf="isAdmin, isLogged"
      >
        NUEVA HABILIDAD
      </button>
    </div>

  <div class="row" >
    
    <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-6 text-center" *ngFor="let Skills of skill">
      <h3>
        <img src="{{Skills.imgS}}" class="icono" alt="Logo {{Skills.nombreS}}" /> 
        {{Skills.nombreS}}
      </h3>

      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          aria-label="Animated striped example"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: {{Skills.valueSk}}%"
        ></div>
      </div>
     <div class="button" *ngIf="isAdmin, isLogged">
        <button class="btn btn-dark" routerLink="/editskill/{{ Skills.id }}">
          <i class="bi bi-pencil-fill"></i> EDITAR
        </button>
        <button class="btn btn-danger" (click)="delete(Skills.id)">
          <i class="bi bi-trash-fill"></i> BORRAR
        </button>
      </div>
    </div>
    

</div>

</div>
