.progress{
    background-color: rgb(43, 43, 43);
    height:25px;
    
}

.progress-bar{
    background-color: red;
}

h3{
    padding-top: 25px;
}

.icono{
    width: 10%;
    height: 10%;
    padding-right: 10px;
}





