<div class="container" id="Proyectos">
  <h1 class=" text-center">Mis Proyectos</h1>

  <div class="text-left">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevoproyectos"
      *ngIf="isLogged"
    >
      NUEVO PROYECTO
    </button>
  </div>

  <div class="row" *ngFor="let Proyectos of proyecto">
    <div class="col-lg-4 text-center">
      <h3>
        {{ Proyectos.nombreP }}
      </h3>
      <p>{{ Proyectos.descripcionP }}</p>

      <div>
        <div class="button" *ngIf="isLogged">
          <button
            class="btn btn-dark"
            routerLink="/editproyectos/{{ Proyectos.id }}"
          >
            <i class="bi bi-pencil-fill"></i> EDITAR
          </button>
          <button class="btn btn-danger" (click)="delete(Proyectos.id)">
            <i class="bi bi-trash-fill"></i> BORRAR
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <a href="{{ Proyectos.urlP }}"
        ><img
          class="img-fluid"
          src="{{ Proyectos.imgP }}"
          alt="Preview {{ Proyectos.nombreP }}"
      /></a>
    </div>
  </div>
</div>
