<div class="container col-6" >
  <div class="row" id="edit-new-forms">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreExp">Nombre de la institución o empresa</label>
          <input
            type="text"
            class="form-control"
            id="nombreExp"
            name="nombreExp"
            placeholder="Nombre del establecimiento"
            [(ngModel)]="nombreExp"
            required
          />
        </div>

        <div class="form-group">
          <label for="inicioExp">Fecha de ingreso</label>
          <input
            type="date"
            class="form-control"
            id="inicioExp"
            name="inicioExp"
            placeholder="FECHA DE INCIO"
            [(ngModel)]="inicioExp"
            required
          />
        </div>
        <div class="form-group">
          <label for="finExp">Fecha de egreso</label>
          <input
            type="date"
            class="form-control"
            id="finExp"
            name="finExp"
            placeholder="FECHA DE FINALIZACION"
            [(ngModel)]="finExp"
            required
          />
        </div>
        <div class="form-group">
          <label for="cargoExp">Puesto desempeñado</label>
          <input
            type="text"
            class="form-control"
            id="cargoExp"
            name="cargoExp"
            placeholder="Puesto o cargo desempeñado"
            [(ngModel)]="cargoExp"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcionExp">Descripción de las actividades</label>
          <input
            type="text"
            class="form-control"
            id="descripcionExp"
            name="descripcionExp"
            placeholder="Descripción de las actividades"
            [(ngModel)]="descripcionExp"
            required
          />
          <label for="imgExp">Emblema institutional</label>
          <input
            type="text"
            class="form-control"
            id="imgExp"
            name="imgExp"
            placeholder="INSERTAR LINK DE LA IMAGEN"
            [(ngModel)]="imgExp"
            required
            
          />
        </div>
        <button class="btn btn-dark">AGREGAR</button>
        <button class="btn btn-danger" (click)="stepBack()">REGRESAR</button>
      </form>
    </div>
  </div>
</div>
