<div class="container col-6" >
    <div class="row" id="edit-new-forms">
      <div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreP">Nombre del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="nombreP"
              name="nombreP"
              placeholder="Nombre del proyecto"
              [(ngModel)]="nombreP"
              required
            />
          </div>
  
          <div class="form-group">
            <label for="descripcionP">Descripción del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="descripcionP"
              name="descripcionP"
              placeholder="Descripción del proyecto"
              [(ngModel)]="descripcionP"
              required
            />
          </div>
  
          <div class="form-group">
            <label for="imgP">Preview el proyecto</label>
            <input
              type="text"
              class="form-control"
              id="imgP"
              name="imgP"
              placeholder="Link a una imagen del proyecto"
              [(ngModel)]="imgP"
              required
            />
          </div>
          <div class="form-group">
            <label for="urlP">Url del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="urlP"
              name="urlP"
              placeholder="Url del proyecto"
              [(ngModel)]="urlP"
              required
            />
          </div>
          <button class="btn btn-dark">AGREGAR</button>
          <button class="btn btn-danger" (click)="stepBack()">REGRESAR</button>
        </form>
      </div>
    </div>
  </div>