<div class="container col-6">
  <div class="row" id="edit-new-forms">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreS">Nombre de la habilidad</label>
          <input
            type="text"
            class="form-control"
            id="nombreS"
            name="nombreS"
            placeholder="Nombre de la habilidad"
            [(ngModel)]="nombreS"
            required
          />
        </div>

        <div class="form-group">
          <label for="valueSk">Valor de aprendizaje</label>
          <input
            type="text"
            class="form-control"
            id="valueSk"
            name="valueSk"
            placeholder="EN ESCALA DE 1 A 100, EJ. 70 = 70%"
            [(ngModel)]="valueSk"
            required
          />
        </div>

        <div class="form-group">
          <label for="imgS">Imagen representativa</label>
          <input
            type="text"
            class="form-control"
            id="imgS"
            name="imgS"
            placeholder="LINK AL LOGO DEL LENGUAJE/FRAMEWORK"
            [(ngModel)]="imgS"
            required
          />
        </div>
        <button class="btn btn-dark">AGREGAR</button>
        <button class="btn btn-danger" (click)="stepBack()">REGRESAR</button>
      </form>
    </div>
  </div>
</div>
